@using Messender.Models;
@model IEnumerable<Messender.Models.FriendShip>
@{
    Layout = null;
}
@foreach (FriendShip element in Model)
{
    using (Ajax.BeginForm("OpenChat", "Friend", new { ID = element.IdFirstUser == ViewBag.Id ? element.IdSecondUser : element.IdFirstUser }, new AjaxOptions { UpdateTargetId = "chats" }))
    {
        if (@element.Access == true)
        {
            if (@element.IdFirstUser == ViewBag.Id)
            {
                <button type="submit" class="ghost-button-one" onclick="OpenMessage">
                    @Html.Raw("<img class='rounded-circle' style='width:55px; height:55px;' src=\"data:image/jpeg;base64,"
                                       + Convert.ToBase64String(element.SecondUser.Image) + "\" />")
                    @element.SecondUser.FirstName @element.SecondUser.LastName
                </button>
            }
            else
            {
                <button type="submit" class="ghost-button-one" onclick="OpenMessage">
                    @Html.Raw("<img class='rounded-circle' style='width:55px; height:55px;' src=\"data:image/jpeg;base64,"
                                   + Convert.ToBase64String(element.FirstUser.Image) + "\" />")
                    @element.FirstUser.FirstName @element.FirstUser.LastName
                </button>
            }
        }
    }
}

<script>
    function OpenMessage() {
        $("#textMessage").hide();
    };
</script>
