@model Messender.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
}
@*<h2>@ViewBag.Title.</h2>*@
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="Register" style="width: 350px; height: 200px">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label style="text-align: center; margin-left: 80px">Enter your email address</label> 
            <div class="col-md-10" style="width: 281px
                                                                                                                                             ">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control5" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="width: 285px; margin-left: 15px " class="btn2 btn-primary" value="Send link by email" />
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
